<p><%= l(:mail_custom_reminder_subject, :count => @issues.size) %></p>

<% if @custom_reminder %>
  <p><%= "##{@custom_reminder.id} #{@custom_reminder.name}" %></p>
<% end %>

<% @projects.each do |project| -%>
  <h4><%= "#{l(:label_project)} - #{project.name}" %></h4>
  <ul>
    <% @issues.select {|i| i.project == project}.each do |issue| -%>
      <li><%= link_to_issue(issue, :project => true, :only_path => false) %></li>
    <% end -%>
  </ul>
<% end -%>

<p><%= link_to(l(:label_issue_view_all), @issues_url, class: 'icon icon-arrow-right') %></p>