<div class="splitcontent">
  <div class="splitcontentleft">
    <div class="box tabular">
      <p><%= f.text_field :name, required: true, :size => 50 %></p>
      <p><%= f.text_area :description, :cols => 40, :rows => 5 %></p>
      <p><%= f.text_field :interval, required: true %></p>
      <p><%= f.select :trigger_type, options_for_select(CustomReminder::TRIGGER_TYPE, @reminder.trigger_type), required: true %></p>
      <p><%= f.select :notification_recipient, options_for_select(CustomReminder::NOTIFICATION_RECIPIENTS, @reminder.notification_recipient), required: true %></p>
      <p><%= f.check_box :active, required: true %></p>
    </div>
  </div>

  <div class="splitcontentright">
    <fieldset class="box" id="custom_reminder_enabled_projects">
      <legend><%= l(:label_reminder_enabled_projects) %></legend>
      <%= custom_reminder_render_nested_projects(Project.visible.active) do |p|
        content_tag('label', check_box_tag('custom_reminder[project_ids][]', p.id, @reminder.project_ids.include?(p.id),
                                           :id => nil) + ' ' + h(p), :class => 'block')
      end %>
      <%= hidden_field_tag('custom_reminder[project_ids][]', '', :id => nil) %>
      <p><%= check_all_links 'custom_reminder_enabled_projects' %></p>
    </fieldset>
  </div>
</div>

<div style="clear: left;"></div>

<fieldset class="box">
  <div class="splitcontent">
    <%= render :layout => 'layouts/collapsible',
               :locals => {
                   :collapsed => (!(@reminder.user_scope_script.present? || @reminder.trigger_script.present?)),
                   :label => l(:label_custom_reminder_trigger_definition)} do %>
      <div class="splitcontentleft">
        <%= f.text_area :user_scope_script, :cols => 40, :rows => 20, :wrap => 'off', :class => 'custom_reminder_script' %>
      </div>
      <div class="splitcontentright">
        <%= f.text_area :trigger_script, :cols => 40, :rows => 20, :wrap => 'off', :class => 'custom_reminder_script' %>
      </div>
    <% end %>
  </div>
</fieldset>