<% html_title(l(:label_custom_reminders_plural)) -%>
<div class="contextual">
  <%= link_to l(:label_custom_reminder_new), new_custom_reminder_path, :class => 'icon icon-add' %>
  <%= link_to l(:label_schedule_custom_reminder), schedule_custom_reminder_custom_reminders_path({force: true}), :class => 'icon icon-email-add' %>
  <%= link_to l(:label_custom_reminder_import), '#', :class => 'icon icon-import', :onclick => "showModal('import-dialog', '450px'); return false;" %>
</div>

<h2><%= l(:label_custom_reminders_plural) %></h2>

<div class="autoscroll">
  <% if @reminders.any? %>
    <table class="custom-reminders list">
      <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_description) %></th>
        <th><%= l(:field_notification_recipient) %></th>
        <th><%= l(:field_active) %></th>
        <th><%= l(:label_project_plural) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @reminders.each do |reminder| %>
        <tr class="<%= cycle("odd", "even") %> <%= 'disabled' unless reminder.active? %>">
          <td class="name"><%= link_to reminder.name, edit_custom_reminder_path(reminder) %></td>
          <td class="description"><%= reminder.description %></td>
          <td class="notification_recipient"><%= CustomReminder.notification_recipient_name(reminder.notification_recipient) %></td>
          <td class="active">
            <% if reminder.active? %>
              <span class="icon icon-ok"></span>
            <% else %>
              <span class="icon icon-not-ok"></span>
            <% end %>
          </td>
          <td class="projects">
            <%= reminder.projects.map{ |p| link_to(p.name, project_path(p)) }.join(", ").html_safe %>
          </td>
          <td class="buttons">
            <p><%= link_to(l(:button_delete), reminder, :class => 'icon icon-del', :data => {:confirm => l(:text_are_you_sure)}, :confirm => l(:text_are_you_sure), :method => :delete) %></p>
            <p><%= link_to("#{l(:label_export_to)} yml", export_custom_reminder_path(reminder), :class => 'icon icon-save') %></p>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>

<div id="import-dialog" style="display: none">
  <h3 class="title"><%= l(:label_custom_reminder_import) %></h3>
  <%= form_tag import_custom_reminders_path, :multipart => true do %>
    <p>
      <%= l(:field_custom_reminder_file) %>:
    </p>

    <p>
      <%= file_field_tag 'file', :accept => 'application/yml' %>
    </p>

    <p class="buttons">
      <%= submit_tag l(:button_import), :name => nil, :onclick => "hideModal(this);" %>
      <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
    </p>
  <% end %>
</div>