<% html_title(l(:label_custom_reminders_plural)) -%>
<div class="contextual">
  <%= link_to l(:label_custom_reminder_new), new_custom_reminder_path, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_custom_reminders_plural) %></h2>

<div class="autoscroll">
  <% if @reminders.any? %>
    <table class="custom-reminders list">
      <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_description) %></th>
        <th><%= l(:field_active) %></th>
        <th><%= l(:label_project_plural) %></th>
      </tr>
      </thead>
      <tbody>
      <% @reminders.each do |reminder| %>
        <tr class="<%= cycle("odd", "even") %> <%= 'disabled' unless reminder.active? %>">
          <td class="name"><%= link_to reminder.name, edit_custom_reminder_path(reminder) %></td>
          <td class="description"><%= reminder.description %></td>
          <td class="active"><%= reminder.active %></td>
          <td class="projects">
            <%= reminder.projects.map(&:name).join(", ") %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>