<% html_title(l(:label_custom_reminders_plural)) -%>
<div class="contextual">
  <%= link_to l(:label_custom_reminder_new), new_custom_reminder_path, :class => 'icon icon-add' %>
  <%= link_to l(:label_schedule_custom_reminder), schedule_custom_reminder_custom_reminders_path, :class => 'icon icon-email-add' %>
</div>

<h2><%= l(:label_custom_reminders_plural) %></h2>

<div class="autoscroll">
  <% if @reminders.any? %>
    <table class="custom-reminders list">
      <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_description) %></th>
        <th><%= l(:field_trigger_type) %></th>
        <th><%= l(:field_notification_recipient) %></th>
        <th><%= l(:field_active) %></th>
        <th><%= l(:label_project_plural) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @reminders.each do |reminder| %>
        <tr class="<%= cycle("odd", "even") %> <%= 'disabled' unless reminder.active? %>">
          <td class="name"><%= link_to reminder.name, edit_custom_reminder_path(reminder) %></td>
          <td class="description"><%= reminder.description %></td>
          <td class="trigger_type"><%= CustomReminder.trigger_type_name(reminder.trigger_type) %></td>
          <td class="notification_recipient"><%= CustomReminder.notification_recipient_name(reminder.notification_recipient) %></td>
          <td class="active">
            <% if reminder.active? %>
              <span class="icon icon-ok"></span>
            <% else %>
              <span class="icon icon-not-ok"></span>
            <% end %>
          </td>
          <td class="projects">
            <%= reminder.projects.map(&:name).join(", ") %>
          </td>
          <td class="buttons">
            <%= link_to(l(:button_delete), reminder, :class => 'icon icon-del', :data => {:confirm => l(:text_are_you_sure)}, :confirm => l(:text_are_you_sure), :method => :delete) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>